---
import { Button } from "@/components/ui/button";
---

<header
  class="flex items-center justify-between border-b border-border/75 px-8 py-4 bg-foreground/5"
>
  <div class="cursor-default">
    <h1 class="text-xl font-semibold">Victor Alves</h1>
  </div>

  <nav>
    <a href="#">
      <Button>Info</Button>
    </a>
    <a href="#">
      <Button>Tech</Button>
    </a>
    <a href="#">
      <Button>Projects</Button>
    </a>
  </nav>
</header>
