---
import { Button } from "@/components/ui/button";
---

<header
  class="h-header max-h-header flex items-center justify-center border-b border-border/75 px-8 py-4 bg-foreground/5"
>
  <nav>
    <a href="#" tabindex="-1">
      <Button>Info</Button>
    </a>
    <a href="#" tabindex="-1">
      <Button>Tech</Button>
    </a>
    <a href="#" tabindex="-1">
      <Button>Projects</Button>
    </a>
  </nav>
</header>
