---
import { Button } from "@/components/ui/button";
import { FilterToggle } from "@/components/filter-toggle";
---

<header
  class="h-header max-h-header flex items-center justify-between border-b border-border/75 px-6 py-4 bg-foreground/5"
>
  <div>
    <FilterToggle client:only />
  </div>

  <nav>
    <a href="#" tabindex="-1">
      <Button>Info</Button>
    </a>
    <a href="#" tabindex="-1">
      <Button>Tech</Button>
    </a>
    <a href="#" tabindex="-1">
      <Button>Projects</Button>
    </a>
  </nav>
</header>
