---
import { GithubIcon, LinkedinIcon, MailIcon } from "lucide-react";
import { SocialLink } from "@/components/social";
import { Image } from "astro:assets";

const socials = [
  {
    href: "https://github.com/victoralvesf",
    label: "Github",
    icon: GithubIcon,
  },
  {
    href: "https://linkedin.com/in/victoralvesf",
    label: "LinkedIn",
    icon: LinkedinIcon,
  },
  {
    href: "mailto:contato@victoralvesf.com",
    label: "E-mail",
    icon: MailIcon,
  },
];
---

<aside
  class="w-full md:w-xs md:min-w-xs max-md:border-b md:border-r border-border/75 md:h-full flex flex-row md:flex-col items-center py-8 px-6 gap-4"
>
  <div
    class="hidden min-w-full aspect-square bg-foreground/10 md:block border-4 border-border/75"
  >
    <Image
      src="/avatar_pixel_art.png"
      alt="Victor Alves"
      class="aspect-square grayscale-50 hover:grayscale-0 transition-all text-transparent"
      width="1024"
      height="1024"
    />
  </div>

  <div class="flex gap-2 md:gap-4 flex-col">
    <div>
      <h2 class="text-xl md:text-3xl font-bold">Victor Alves</h2>
      <p class="text-foreground/70 font-semibold text-base md:text-lg">
        Fullstack Developer
      </p>
    </div>

    <div class="text-pretty">
      <p class="text-sm md:text-base">
        I create accessible and high-quality digital experiences for the web.
      </p>
    </div>
  </div>

  <div class="max-md:ml-auto md:mt-auto">
    <div class="flex mt-4 flex-col md:flex-row" aria-label="Social media">
      {
        socials.map((item, index) => (
          <SocialLink key={index} href={item.href} label={item.label}>
            <item.icon className="size-6" />
          </SocialLink>
        ))
      }
    </div>
  </div>
</aside>
